@import '@/common/lib/palette.scss';

.dialog_paper {
  width: 315px;
  border-radius: 24px;

  background-color: $primary-background;
}

.dialog_content {
  & > p {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.dialog_actions {
  padding: 0px 24px 16px 24px;
  & > button {
    width: fit-content;
    border-radius: 30px;
  }
}
