@tailwind base;
@tailwind components;
@tailwind utilities;

table,
th,
td {
  border: 1px solid #d0d5dd;
  padding: 8px;
}

th,
tr,
td {
  height: 34px;
}

thead {
  background-color: #f5f8f5;
}

:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --padding-xs: 0.25rem;
  --padding-sm: 0.375rem;
  --padding-md: 0.5rem;
  --padding-lg: 0.75rem;
  --padding-xl: 1rem;
}
