@import '@/utils/palette.scss';

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-200;
  color: $gray-800;

  .close {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    color: $gray-500;

    &:hover {
      color: $gray-700;
    }
  }
}
