.btn {
  @apply bg-blue-500 text-white font-bold;
  @apply py-2 px-4;
  @apply rounded-lg shadow-lg;
  @apply transition-colors;
  @apply relative overflow-hidden text-nowrap;

  &::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full opacity-0;
    transition: opacity 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2);
    @apply shadow-xl;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  &:disabled {
    @apply pointer-events-none opacity-45  shadow-none bg-gray-300;
  }
}

.btn-outline {
  @apply border border-blue-300 bg-opacity-0 text-blue-500;
  &:hover,
  &:focus {
    @apply border bg-blue-500 bg-opacity-20;
  }
}

.btn-ghost {
  @apply border border-transparent bg-opacity-0 text-gray-500;
  &:hover,
  &:focus {
    @apply border-gray-300;
  }
}
